<section class="login-page bg-screen">
  <section class="grid grid-cols-1 md:grid-cols-2 min-h-[100vh]">
    <section class="hidden md:block h-full">
      <div class="relative h-full w-full overflow-hidden">
        <div class="absolute inset-0 z-10 bg-[#07294580]">
        </div>
        <img src="assets/images/pages/auth/forgot-password.png" alt="Auth background"
          class="h-full w-full object-cover object-center transform transition-transform duration-500 ease-out absolute inset-0 z-0" />
        <div class="absolute inset-0 z-20 flex flex-col justify-center items-center text-white px-6 text-center gap-4">
          <img src="assets/icons/lock.svg" class="mb-1.5" />
          <h1 class="font-bold text-[28px] lg:text-[40px] leading-[120%] text-t-header">
            {{'auth.forgotPassword.identityValidation' | translate}}
          </h1>
          <p class="font-medium  text-[12px] lg:text-[16px] leading-[120%] max-w-[414px] text-hover mb-4">
            {{'auth.forgotPassword.description' | translate}}
          </p>
        </div>
      </div>
    </section>
    <section class="lg:pt-12 lg:pb-[60px] lg:px-[54px] pt-8 pb-[40px] px-8">
      <div class="flex flex-col items-center gap-2 mb-[140px]">
        <div class="flex justify-between items-center w-full">
          <span class="text-sm text-gray-600">
            {{'auth.forgotPassword.step' | translate}} 1 {{'auth.forgotPassword.of' | translate}} 3
          </span>
          <img src="assets/icons/lock_sm.svg" class="w-4 h-5" />
        </div>
        <div class="h-2 bg-gray-300 rounded-full relative w-full">
          <div class="h-2 bg-[#072945] rounded-full w-1/3"></div>
        </div>
      </div>

      <header class="flex flex-col gap-6 justify-center items-center mb-12">
        <h1 class="font-bold  text-[22px] lg:text-[32px] leading-[120%] text-p-text">
          {{'auth.forgotPassword.forgotPassword'
          |
          translate}}</h1>
        <p class="font-normal  text-[12px] lg:text-[16px] leading-[120%] text-hs-text">
          {{'auth.forgotPassword.weWillHelp' | translate}}</p>
      </header>
      <form>
        <section class="flex flex-col">
          <section class="flex flex-col">
            <section>
              <div>
                <div class="mt-5">
                  <div class="flex flex-col gap-[7px] w-full">
                    <label class="font-medium  text-[14px] leading-[120%] text-p-text ">
                      {{'auth.forgotPassword.whatIsYourEmailOrWhatsApp' | translate}}
                    </label>
                    <input type="email" placeholder="{{'auth.forgotPassword.enterYourEmailOrWhatsApp' | translate}}"
                      class="font-normal  border-stroke-heavy bg-screen border rounded-[8px] px-4 py-3 focus:outline-primary-light placeholder:text-hs-text" />
                    <div *ngIf="false" class="text-primary-danger ms-4 text-[12px] font-medium ">{{
                      'auth.forgotPassword.emailOrWhatsAppErrorMsg' | translate}}</div>
                  </div>
                </div>
              </div>
            </section>
            <section class="submit_section mt-10">
              <button type="submit"
                class="w-full bg-primary text-screen mb-[38.5px] px-[24px] hover:bg-primary-dark text-[16px] font-medium  py-[14px] rounded-[8px] transition-all duration-200 disabled:opacity-50 disabled:cursor-not-allowed">
                {{ 'auth.forgotPassword.sendVerificationCode' | translate }}
              </button>

              <p class="text-center text-hs-text text-[16px] font-normal flex justify-center">
                <a routerLink="/register" class="text-primary font-medium  ms-1 hover:text-primary-hover">
                  {{ 'auth.forgotPassword.iAlreadyHaveAnAccount' | translate }}
                </a>
              </p>

            </section>
          </section>
        </section>
      </form>
    </section>
  </section>
</section>